body {
    font-family: monospace;
    line-height: 1.2;
    font-size: 16px;
    padding: 0 10px;
    margin: 50px auto;
    max-width: 650px;
    background: #000;
    color: #fff;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

ul {
    margin-top: 0px;
}

#maincontent {
    max-width: 650px;
    margin: 15 auto;
}

h2 {
    margin-bottom: 0px;
}

a {
    color: #e9838e;
    text-decoration: none;
}